{% extends 'layout.twig' %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="col-md-4">
        <h2>Create user (twig)</h2>
        <form class="well" action="/users/create" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" type="text" name="username"/>
            </div>
            <input class="btn btn-default" type="submit"/>
        </form>
    </div>
    <div class="col-md-6"><h2>Users</h2>
        <ul></ul>
        {% for user in users %}
            <li>
                <strong>{{ user.username }}</strong>&nbsp;
                <a class="btn btn-xs btn-warning" href="/users/{{ user.id }}/destroy">delete</a>
                <ul>
                    <li>Create task
                        <form class="form-inline" action="/users/{{ user.id }}/tasks/create" method="post">
                            <div class="form-group">
                                <input class="input-sm form-control" type="text" name="title">
                                <input class="btn btn-sm btn-default" type="submit">
                            </div>
                        </form>
                    </li>
                    {% for task in user.Tasks %}
                        <li>
                            <strong>{{ task.title }}</strong>&nbsp;
                            <a class="btn btn-xs btn-warning" href="/users/{{ user.id }}/tasks/{{ task.id }}/destroy">delete</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </div>
{% endblock %}